:root {
  --background-color: #1f1b2d;
  --orange: #fd5631;
  --darkgreen: #0fc98b;
  --green: #07c98b;
  --blue: #3c76f2;
  --yellow: #fdbc31;
  --hyperlink-color: #b1afb6;
  --border-color: rgba(177, 175, 182, 0.5);
  --navBackgroundColor: rgba(31, 27, 45, 0.9);
  --background-slight-transparent: #302d3d;
  --darkblue: #282435;
  --footerSubBackground: #302d3d;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 7px;
  background-color: #1f1b2d;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fd5631;
  border-radius: 5px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* checkbox design */
.form-check-input[type="checkbox"] {
  background-color: transparent;
  color: #fd5631;
  border: 2px solid gray;
  box-shadow: none;
}
.form-check-input[type="checkbox"]:checked {
  background-color: transparent;
  color: orange;
  border: 2px solid #fd5631;
}
/* range style */
input[type="range"] {
  accent-color: #fd5631;
  border-color: transparent;
  cursor: pointer;
}

/* input[type="checkbox"]:checked:after {
  content: "\2713";
  color: green;
} */
/* globals */
* {
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Nunito", sans-serif;
}
li {
  list-style: none;
}
input {
  background-color: transparent;
  border: none;
  outline: none;
}
.pointer {
  cursor: pointer;
}
.style-list {
  list-style: circle;
}
.max-width-1300 {
  max-width: 1400px;
}
.hypertag-style {
  text-decoration: none;
  color: var(--hyperlink-color);
}
.hypertag-decoration {
  text-decoration: none;
}
.background-color {
  background-color: var(--background-color);
}
.blue-background {
  background-color: var(--blue);
}
.green-background {
  background-color: var(--green);
}
.dark-background-color {
  background-color: var(--background-color);
}
.darkblue-bg-color {
  background-color: var(--footerSubBackground);
}
.logo-container-size {
  width: 35px;
}
.icon-img-size {
  width: 25px;
}
.icon-size {
  width: 25px;
  height: 25px;
}

.icon-size-sm {
  width: 12px;
}
.icon-size-md {
  width: 20px;
  height: 20px;
}
.icon-size-lg {
  width: 50px;
  height: 50px;
}
.gray-text {
  color: var(--hyperlink-color);
}
.orange-text {
  color: var(--orange);
}
.green-text {
  color: var(--darkgreen);
}
.white-text {
  color: white;
}
.orange-background {
  background-color: var(--orange);
}
.white-background {
  background-color: white;
}
.gray-background {
  background-color: var(--background-slight-transparent);
}
/* end globals */
.nav-style {
  background-color: var(--navBackgroundColor);
  /* backdrop-filter: ; */
}

.border-right {
  border-right: 0.1px solid var(--border-color);
}
.border-top-fixed {
  border-top: 0.1px solid var(--border-color);
}
.border-dash {
  border: 1px dashed var(--border-color);
}
.border-left-fixed {
  border-left: 2px solid white;
}
.border-left-transparent {
  border-left: 2px solid transparent;
}
.border-right-fixed {
  border-right: 0.1px solid var(--border-color);
}
.border-bottom-gray {
  border-bottom: 0.1px solid var(--border-color);
}
.border-style-gray {
  border: 0.1px solid var(--border-color);
  border-radius: 5px;
}
.accordion-border-style {
  border: 0.1px solid var(--border-color);
}
.border-gray {
  border: 0.1px solid var(--border-color);
}
.border-orange {
  border: 0.1px solid var(--orange);
}
@media only screen and (max-width: 992px) {
  .border-right {
    border-bottom: 0.1px solid var(--border-color);
    border-right: none;
  }
}
.dropdown-style {
  background-color: transparent;
  border: none;
  max-height: 200px;
  overflow-y: scroll;
}
.lightgray-bg-color {
  background-color: var(--border-color);
}
.nav-button-style {
  background-color: var(--orange);
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
}
.hero-height {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-style {
  background-color: var(--background-color);
  box-shadow: 0px -0px 1px 0.1px white;
}
.filter-backgroud-color {
  background-color: var(--background-slight-transparent);
}
/* input */
.card-background-color {
  background-color: var(--background-slight-transparent);
}
.radius-top {
  border-radius: 5px 5px 0px 0px;
}
.image-contain {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 576px) {
  .image-contain {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }
}

/* top offers */
.w-40 {
  width: 40%;
}
.w-60 {
  width: 40%;
}
.input-style {
  background-color: var(--background-slight-transparent);
}
.input-style-width {
  width: 180px;
}
.range-style-width {
  width: 100px;
}
.input-style-full {
  width: 100%;
}
.accordion-header {
  background-color: transparent !important;
}

.transparent-bg {
  background-color: transparent;
}
.border-Y {
  border-top: 0.1px solid var(--border-color);
  border-bottom: 0.1px solid var(--border-color);
}
.min-hight-sm {
  max-height: 150px;
  overflow-y: scroll;
}
.min-hight-sm::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
.min-hight-sm::-webkit-scrollbar-thumb {
  background: var(--border-color);
}
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}
.heigth-200 {
  height: 100px;
  overflow-y: hidden;
}
.underline {
  text-decoration: underline;
}
.pt-130 {
  padding-top: 130px;
}
.top100 {
  top: 100px;
}
/* profile style */
